extends layout

block js
	script
		var users = !{JSON.stringify(users)};

block main
	h1= title
	div(id="map")
	form
		a(id="close", href="#close") x
		label Introduce tu cuenta de Twitter
		input(type="text", id="username", value="@")
		input(type="submit")