!!!
html(lang="es")
	head
		meta(charset="utf-8")
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
		link(rel="stylesheet", href="/css/main.css")
		block js
	body
		block main
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/main.js")
		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32882964-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();