body {
	background: #222;
	font-size: 1em;
	color: #333;
}

h1 {
	position: relative;
	background: #eee;
	-webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
	box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
	font-size: 1em;
	line-height: 1;
	padding: .5em;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	z-index: 9999;
}

form {
	background: #333;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #eee;
	left: 50%;
	margin-left: -130px;
	padding: 10px;
	position: absolute;
	top: 40%;
	width: 250px;
}

input[type="submit"] {
	background: #090;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	padding: 4px 10px;
}

input[type="submit"]:hover {
	background: #060;
}

#map {
	position: absolute;
	top: 2em;
	font-size: 1em;
	bottom: 0;
	width: 100%;
}

#username {
	background: #f6f6f6;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 0;
	padding: 4px 0;
	text-indent: 5px;
	width: 248px;
}

#close {
	background: #f6f6f6;
	-webkit-border-radius: 100% 100%;
	-moz-border-radius: 100% 100%;
	border-radius: 100% 100%;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	color: #333;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: -15px;
	text-align: center;
	text-decoration: none;
	top: -15px;
	width: 30px;
}

#close:hover {
	background: #c00;
	color: #fff;
}